In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\steph\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
# URL 
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
# Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
mars_title = soup.find_all('div', class_='content_title')[1].text
body_par = soup.find_all('div', class_='article_teaser_body')[0].text

print(mars_title)
print(body_par)

Watch (and Hear) How NASA's Perseverance Rover Took Its First Selfie
The historic image of the rover beside the Mars Helicopter proved to be one of the most complex rover selfies ever taken. Video, with bonus audio, sheds light on the process.

In [6]:
# image
image_source = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_source)

In [7]:
# Image Beautiful Soup object
html = browser.html
soup_image = BeautifulSoup(html, 'html.parser')

path = soup_image.find_all('img')[2]['src']
print(path)

/_nuxt/img/Oops-galaxy.0ba2dca.jpg

In [8]:
# table url
table_source = 'https://space-facts.com/mars/'
browser.visit(table_source)

In [9]:
# Table Beautiful Soup object
html = browser.html
table_soup = BeautifulSoup(html, 'html.parser')

In [10]:
table = pd.read_html(table_source)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
final_table = table[2]
final_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
# table to html
table_to_html = final_table.to_html()
table_to_html
print(table_to_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [13]:
#Hemispheres
hemisphere_url = 'https://marshemispheres.com/'
browser.visit(hemisphere_url)

In [14]:
# hemisphere Beautiful Soup object
html = browser.html
hemisphere_soup = BeautifulSoup(html, 'html.parser')

In [15]:
titles=hemisphere_soup.find_all('h3')
titles[:]=(title.text for title in titles)
titles[:]=(title.split(" Enhanced")[0] for title in titles)
titles.remove('Back')
print(titles)

['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [16]:
# Hemisphere Images
hemisphere_image=[]
for title in titles:
    browser.visit(hemisphere_url)
    browser.links.find_by_partial_text(title).click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url=soup.find('div',class_='downloads').ul.li.a['href']
    print(hemisphere_url+img_url)
    hemisphere_image.append({"title": title, "final_url": hemisphere_url + img_url})

print(hemisphere_image)

https://marshemispheres.com/images/full.jpg
https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg
https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg
https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg
[{'title': 'Cerberus Hemisphere', 'final_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'final_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'final_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'final_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [17]:
# create one dictionary
mars_dictionary = {'news_title' : mars_title, 'body_par' : body_par, 'path' : path, 'table_to_html': table_to_html,
             'hemisphere_image': hemisphere_image}
mars_dictionary

{'news_title': "Watch (and Hear) How NASA's Perseverance Rover Took Its First Selfie",
 'body_par': 'The historic image of the rover beside the Mars Helicopter proved to be one of the most complex rover selfies ever taken. Video, with bonus audio, sheds light on the process. ',
 'path': '/_nuxt/img/Oops-galaxy.0ba2dca.jpg',
 'table_to_html': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_image': [{'title': 'Cerberus Hemisphere',
   'final_url': 'https://marshemispheres.com/images/full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'final_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'final_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'final_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]}

In [18]:
browser.quit()